<div class="announcements">
  <header>
    <h1>譯言堂</h1>
    <p>這裏是UI公告的地方，有任何意見歡迎留言指教</p>
    <p>這裏是譯言堂不是一言堂，所以有任何意見請大方說出來</p>
  </header>
  <div class="latest-announcement">
    <h2>最新公告事項</h2>
    <div class="title">
      <h2>
      標題：<%= @latest_announcement.title %>
      </h2>
    </div>
    <div class="content">
      <%= simple_format @latest_announcement.content %>
    </div>

  </div>
  <div class="table-header">
    其他公告事項：
  </div>
  <table class="table table-hover">
    <thead>
      <th class='col-xs-1'>#</th>
      <th class='col-xs-2'>日期</th>
      <th class='col-xs-1'>發布人</th>
      <th class='col-xs-3'>標題</th>
    </thead>
    <tbody>
      <% @announcements.each_with_index do|announcement, i| %>
      <tr>
        <td class='col-xs-1'><%= i+1 %></td>
        <td class='col-xs-2'><%= announcement.created_at.strftime("%Y-%m-%d") %></td>
        <td class='col-xs-1'><%= announcement.user.name %></td>
        <td class='col-xs-3'><%= announcement.title %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>