<div class="featured-posts" id="featured-posts">
  <div class="head-news">
    <div>
      <dl>
        <% @featured_posts.each do |post| %>
        <dt class="shadow row">
        <div class="news-title">
          <%= render_post_title post %>
        </div>
        </dt>
        <dd>
          <div class="image">
          <%= image_tag render_post_image(post, :thumb),class:"shadow img-rounded img-responsive" %>
        </div>
        <div class="content">
          <p>
          <%= briefly post, 80 %>
          </p>
          <div>
            <%= link_to "Read more", post %>
          </div>
        </div>
        </dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class="divider">
    <div class="phrase">
      Watch your thoughts, for they become words.
    </div>
  </div>
  <div id="entrance-box" class="shadow">
    <div class="header">
      <h2>United Issues / 世界大代誌</h2>
      <p>
        旨在翻譯不同語言的當地新聞，
      </p>
      <p>
        想提供給讀者台灣新聞平台、BBC、CNN所沒有的國外時事。
      </p>
    </div>
    <hr>
    <div class="join-us">
      <h2>想要摸你媽的ㄋㄟㄋㄟ</h2>
      <p>
        因為你媽的ㄋㄟㄋㄟ
      </p>
      <p>
        ㄋㄟㄋㄟㄋㄟㄋㄟㄋㄟㄋㄟㄋㄟㄋㄟ
      </p>
      <p>
        你媽的ㄋㄟㄋㄟ，讚
      </p>
      <p>
        你媽的ㄋㄟㄋㄟ，讚
      </p>
      <p>
        你媽的ㄋㄟㄋㄟ，讚
      </p>
      <p>
        你媽的ㄋㄟㄋㄟ，讚
      </p>
      <div class="fb-login-block">
        <%= render partial: 'common/fb_login' %>
      </div>
      <hr>
      <div class="already-have-account">
        <div>已經是翻譯者了？</div>
        <%= link_to "開始翻譯文章", new_post_path(), class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'page/home.js' %>
