<div class="home container" id="featured-posts">
  <div class="head-news row">
    <div class="col-md-5 col-md-offset-1 topic-news-container container-fluid">
    <% @topic_posts.each do |topic_post| %>
    <section class="topic-news">
      <div class="image shadow">
        <%= image_tag render_post_image(topic_post), size:"380x220",
        class: "img-responsive img-rounded" %>
      <%= link_to topic_post do %>
      <header class="description">
        <div><%= render_post_title topic_post %></div>
        <p><%= simple_date topic_post.source_date %></p>
        <div class="briefly">
          <p>
            <%= briefly topic_post, 50 %>
          </p>
        </div>
      </header>
      <% end %>
      </div>
    </section>
    <% end %>

    <div class="board shadow">
      <ul>
        <li>這裏是以後的佈告欄</li>
        <li>網站大小事都po在這</li>
        <li>現在是翻譯者測試版本0.0.2</li>
      </ul>
    </div>
    </div>

    <div id="entrance-box" class="shadow col-md-5">
      <div class="header">
        <h2>United Issue / 世界大代誌</h2>
        <p>
        旨在翻譯不同語言的當地新聞，
        </p>
        <p>
        想提供給讀者台灣新聞平台、BBC、CNN所沒有的國外時事。
        </p>
      </div>
      <hr>





      <div class="join-us">
        <h2>We need you!!</h2>
        <p>
          UI是一個開方式的翻譯平台，
        </p>
        <p>
          只要你擁有語言長才，
        </p>
        <p>
          便能開始翻譯你覺得應該要被大家注意的新聞，
        </p>
        <p>
        覺得主流媒體的新聞太過偏頗，
        </p>
        <p>
          謾罵並不能改變什麼，
        </p>
        <p>
          那就由我們自己來創造一個優良的新聞環境吧!!
        </p>
        <div class="fb-login-block">
          <%= render partial: 'common/fb_login' %>
        </div>
        <hr>
        <div class="already-have-account">
          <div>已經是翻譯者了？</div>
          <%= link_to "開始翻譯文章", new_post_path(), class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
  <div class="phrase">
    <hr>
  </div>
  <dl>
    <% @featured_posts.each do |post| %>
    <dt class="shadow row">
    <div class="news-title">
      <%= render_post_title post %>
    </div>
    </dt>
    <dd>
    <div class="image">
      <%= image_tag render_post_image(post, :thumb),class:"shadow img-rounded img-responsive" %>
    </div>
    <div class="content">
      <p>
      <%= briefly post, 80 %>
      </p>
      <div>
        <%= link_to "Read more", post %>
      </div>
    </div>
    </dd>
    <% end %>
  </dl>
</div>
<%= javascript_include_tag 'page/home.js' %>