<h1>Admin finders</h1>

<%= link_to "啟用新Finder", new_admin_finder_path %>
<div class="container flash-container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
</div>
<table class="table table-striped table-hover">
  <thead>
    <th></th>
    <th>#</th>
    <th>國家</th>
    <th>名稱</th>
    <th>網址</th>
    <th></th>
  </thead>
  <tbody>
    <% @finders.each_with_index do |finder, index| %>
    <tr>
      <td>
        <%= render partial: 'go_scraping_link', locals:{ finder: finder} %>
      </td>
      <td><%= index+1 %></td>
      <td><%= finder.country_classification.text %></td>
      <td><%=  link_to finder.site_name, finder %></td>
      <td><%= finder.site_url %></td>
      <td>
        <%= link_to "檢視", finder_path(finder) %>
        <%= link_to t('common.edit'), edit_admin_finder_path(finder) %>
        <%= link_to t('common.destroy'), admin_finder_path(finder), 
        method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>