<div>
  <%= link_to new_admin_post_path(), class:"btn-default btn"  do %>
  <span class="icon-material-circles-add new_post_sign"></span><%= t('common.new') %>
  <% end %>
</div>
<%= form_tag(toggle_publish_admin_posts_path, method: 'put') do %>
<div class="panel panel-default posts well">
  <div class="panel-heading">
    <%= t('attributes.posts') %>
  </div>
  <table class="striped-table table table-hover table-responsive">
    <thead>
      <th></th>
      <th></th>
      <th><%= t('activerecord.attributes.post.publish') %></th>
      <th><%= t('activerecord.attributes.post.publish_date') %></th>
      <th class="col-md-3">
        <%= t('activerecord.attributes.post.title') %>
      </th>
      <th><%= t('activerecord.attributes.post.translator') %></th>
      <th><%= t('activerecord.attributes.post.content') %></th>
    </thead>
    <tbody>
      <% @admin_posts.each do |post| %>
      <tr>
        <td><%= check_box_tag "post_ids[]", post.id %></td>
        <td>
          <%= render partial: "edit_options", locals: {post: post} %>
        </td>
        <td><%= publish_status(post) %></td>
        <td><%= post.publish_date %></td>
        <td><%= link_to render_post_title(post), post %></td>
        <td><%= post.user.name %></td>
        <td>
          <%= briefly(post) %>
        </td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @admin_posts %>
  <%= submit_tag "變更文章發佈狀態", class: 'btn btn-success' %>
</div>
<% end -%>
<%= javascript_include_tag 'page/posts.js' %>