<%= render partial: "published_filter" %>
<!-- <div class="btn-group">
  <%= link_to "只顯示未通過審核的文章", admin_posts_path(display_options: :unpublished),class: "btn btn-default" %>
  <%= link_to "只顯示通過審核文章", admin_posts_path(display_options: :published),class: "btn btn-default" %>
  <%= link_to "顯示所有文章", admin_posts_path, class: "btn btn-default" %>
</div> -->

<%= form_tag(toggle_publish_admin_posts_path, method: 'put') do %>
<%= submit_tag "變更文章發佈狀態", class: 'btn btn-success' %>
<div class="panel panel-default posts well">
  <div class="panel-heading">
    <%= t('attributes.posts') %>
  </div>
  <table class="striped-table table table-hover table-responsive">
    <thead>
      <th></th>
      <th></th>
      <th><%= t('activerecord.attributes.post.publish') %></th>
      <th><%= t('activerecord.attributes.post.publish_date') %></th>
      <th class="col-md-3">
        <%= t('activerecord.attributes.post.title') %>
      </th>
      <th><%= t('activerecord.attributes.post.translator') %></th>
      <th><%= t('activerecord.attributes.post.content') %></th>
    </thead>
    <tbody>
      <% @admin_posts.each do |post| %>
      <% if post.present? %>
      <tr>
        <td><%= check_box_tag "post_ids[]", post.id %></td>
        <td>
          <%= render partial: "edit_options", locals: {post: post} %>
        </td>
        <td><%= publish_status(post) %></td>
        <td><%= simple_date_time(post.publish_date) %></td>
        <td><%= link_to render_post_title(post), post %></td>
        <td>
        <% if post.user.present? %>
          <%= post.user.name %>
        <% end %>
        </td>  
        <td>
          <%= briefly(post) %>
        </td>
        <td></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @admin_posts %>
</div>
<% end -%>