
<%= link_to "只顯示未通過審核的文章", schedule_admin_posts_path(show_unpublish: true) %>
<%= form_tag(set_publish_time_admin_posts_path, method: 'put') do %>
<div class="panel panel-default posts well">
  <div class="panel-heading">
    <%= t('attributes.posts') %>
  </div>
  <table class="striped-table table table-hover">
    <thead>
      <th></th>
      <th><%= t('activerecord.attributes.post.publish') %></th>
      <th><%= t('activerecord.attributes.post.publish_date') %></th>
      <th class="col-md-3">
        <%= t('activerecord.attributes.post.title') %>
      </th>
      <th><%= t('activerecord.attributes.post.translator') %></th>
      <th><%= t('activerecord.attributes.post.content') %></th>
      <th class="col-md-2"></th>
    </thead>
    <tbody>
      <% @admin_posts.each do |post| %>
      <tr>
        <td><%= check_box_tag "post_ids[]", post.id %></td>
        <td><%= publish_status(post) %></td>
        <td><%= post.publish_date %></td>
        <td><%= link_to render_post_title(post), post %></td>
        <td><%= post.user.name %></td>
        <td>
          <%= truncate(post.content, length: 14) %>
        </td>
        <td>
          <%= link_to t('common.edit'), edit_admin_post_path(post) %> |
          <%= link_to t('common.destroy'), admin_post_path(post), method: :delete %>
        </td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @admin_posts %>

  <%= submit_tag "變更文章發佈時間", class: 'btn btn-success' %>
  <%= text_field_tag :set_publish_time, Date.today, class:"datepicker"  %>
  </div>
  <% end %>
  
<%= javascript_include_tag 'page/posts' %>