<p id="notice"><%= notice %></p>
<div class="well">
  <div class="image">
    <%= image_tag render_post_image(@admin_post, :thumb), class: "img-rounded img-responsive"%>
    <p>圖片網址： <%= image_url(render_post_image(@admin_post, :thumb)) %>  </p>
  </div>
  <h1><%= render_post_title @admin_post %></h1>
  <br>
  <div class="link">
     <p>U.I網頁版： <%= post_url(@admin_post) %></p>
  </div>
  <br>
  <div>
    <%= simple_format @admin_post.content %>
  </div>
  <br>
  <div class="source">
    <p>
    <%= t('activerecord.attributes.post.source') %>:
    <%= link_to @admin_post.source, @admin_post.source, :target => "_blank" %>
    </p>
  </div>
  <br>
  <div class="note">
    <p>
    <%= t('activerecord.attributes.post.note') %>:<%= raw @admin_post.note.gsub(/\n/, '<br/>') %>
    </p>
  </div>
  <br>
  <div class="translator">
    貼文由 <%= @admin_post.user.name %> 發布
  </div>

  <%= link_to 'Edit', edit_admin_post_path(@admin_post) %> |
  <%= link_to 'Back', admin_posts_path %>
</div>