

<div class="real-chart">
  
</div>
<div class="touch-chart">
  
</div>
<div class="axis-practice">
  
</div>

<div class="posts-chart">
  
</div>

<div class="bar-chart">
  
</div>
<div class="graph-3">
  
</div>

<div class="graph-1">
  
</div>
<div class="graph-2">
  
</div>

<table class="table table-bordered table-hover">
  <thead>
    <th></th>
    <% @classification_titles.each do |clt| %>
    <th><%= clt %></th>
    <% end %>
    <th>Total</th>
  </thead>
  <tbody>
  <% @country_titles.each do |cclt| %>
  <tr>
    <td><%= cclt %></td>
    <% @classification_titles.each do |clt| %>
      <td>
        <% @data_arr.each do |data| %>
          <% if data[0] == clt && data[1] == cclt %>
            <%= data[2] %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    <td>
      <% if @country_classifications_total.select {|classifications|  classifications[0] == cclt}.present? %>
        <%= @country_classifications_total.select {|classifications|  classifications[0] == cclt}[0][1] %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>Total</td>
    <% @classification_titles.each do |clt| %>
    <td>
      <% if @classifications_total.select {|classifications|  classifications[0] == clt}.present? %>
        <%= @classifications_total.select {|classifications|  classifications[0] == clt}[0][1] %>  
      <% end %>
    </td>
    <% end %>
    <td><%= Post.published.count %></td>
  </tr>
  </tbody>
</table>
<%= javascript_include_tag 'visualize/total_posts_statistic', :cache => true %>

<style>
  .bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  margin-right: 3px;
  background-color: RoyalBlue;
}
</style>
