<h1>譯言堂管理頁面</h1>
<%= link_to "新增公告", new_admin_announcement_path %>
<table class="table table-hover">
  <thead>
    <th>#</th>
    <th>日期</th>
    <th>發布人</th>
    <th>標題</th>
    <th></th>
  </thead>
  <tbody>
    <% @announcements.each_with_index do|announcement, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= announcement.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= announcement.user.name %></td>
      <td><%= announcement.title %></td>
      <td>
        <%= link_to "編輯", edit_admin_announcement_path(announcement) %>
        <%= link_to "刪除", admin_announcement_path(announcement), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>