
<div class="jumbotron post">
  <% if @found_post_hash.present? %>
  <div class="row">
  <div class="title col-md-8 col-md-offset-2">
    <div class="from-finder-notify">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

     如果你是從Finder找到這篇文章的，<br>
    在開始翻譯之前先按下儲存，<br>
    這樣才能讓其他人知道這篇文章已經有人在翻譯囉！

    </div>
  </div>
</div>
<% end %>

<%= simple_form_for @post, html: {multipart: true} do |f| %>
<%= f.input :user_id, as: :hidden %> 
<%= f.input :found_post_id, as: :hidden %> 


<div class="form-group">
  <%= f.select :complete, Post.complete.options,{} %>
</div>

  <%= f.input :original_author, input_html: {class: 'form-control'} ,wrapper_html: {class:"form-group"}%>
  <div class="form-group">
  <%= f.label :classification %>  
  <%= f.select :classification, Post.classification.options,{} %>
  </div>
  <div class="form-group">
  <%= f.label :country_classification %>  
  <%= f.select :country_classification, Post.country_classification.options,{} %>
  </div>
  <%= f.input :image, as: :file %>
  
  <%= f.input :remote_image_url, label: "或是圖片網址", input_html: {class:"form-control"} %>
  <%= f.input :title, 
  input_html: {class: 'form-control'},wrapper_html: {class:"form-group"} %>
  <%= f.input :source_date, as: :string, input_html: { class: "datepicker"},wrapper_html: {class:"form-group"} %>
  <%= link_to "使用語料庫來翻譯專有名詞", 
      libraries_path, :target => "_blank", class:"library-link" %>
  <%= f.input :content,placeholder: "記得把專有名詞加到語料庫去喔！",
  input_html: {rows: 12,class: 'form-control'},wrapper_html: {class:"form-group"} %>

  <%= f.input :note, placeholder:"如果翻譯這則新聞所使用的照片跟來源網址中的不一樣，
記得要在備註中補上圖片的網址喔！" ,
  input_html: {class: 'form-control'},wrapper_html: {class:"form-group"} %>
  <%= f.input :source,placeholder: '請直接貼上網址就好，不要使用其他縮網址服務喔！縮網址這種粗重的事交給我們就好了。',
  input_html: {class: 'form-control'},wrapper_html: {class:"form-group"} %>

  <%= f.button :submit, "儲存",class: "btn-primary" %>
  <%= link_to "返回文章列表", posts_path, class: "btn btn-default"  %>
<% end %>
</div>