<div class="jumbotron post">
<%= simple_form_for @post, html: {multipart: true} do |f| %>
  <%= f.input :user_id, as: :hidden %>  
  <%= f.label :country_classification %>  
  <%= f.select :country_classification, Post.country_classification.options,{}, {class: "form-control shadow"} %>
  <%= f.label :classification %>  
  <%= f.select :classification, Post.classification.options,{}, {class: "form-control shadow"} %>
  <%= f.input :image, as: :file %>
  <%= f.input :remote_image_url, label: "或是圖片網址", input_html: {class:"form-control"} %>
  <%= f.input :title, 
  input_html: {class: 'form-control'} %>
  <%= f.input :source_date, as: :string, input_html: { class: "datepicker"} %>
  <%= f.input :content,
  input_html: {rows: 12,class: 'form-control'} %>
  <%= f.input :note,
  input_html: {class: 'form-control'} %>
  <%= f.input :source,
  input_html: {class: 'form-control'} %>
  <%= f.button :submit, class: "btn-primary" %>
  <%= link_to "返回文章列表", posts_path, class: "btn btn-default"  %>
<% end %>
</div>