<div class="posts container">
  <% @posts.each do |post| %>
  <div class="post-list-item">
    <div class="image">
      <%= image_tag render_post_image(post, :thumb),size:"300x200",class:"shadow img-rounded img-responsive" %>
    </div>
    <div class="word-container">
      <div class="title">
        <%= render_post_title post %>
      </div>
      <div class="content">
        <p><%= briefly post, 80 %> </p>
        <div>
          <%= link_to "Read more", post %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @posts %>