<div class="posts container">
  <% @posts.each do |post| %>
  <div class="post-list-item row">
    <div class="image col-md-4">
      <%= image_tag render_post_image(post, :thumb),size:"300x200",class:"shadow img-rounded" %>
      <div class="post-info">
        譯者：<%= post.user.name %>
      </div>
    </div>
    <div class="word-container col-md-5 col-md-offset-1">
      <div class="title">
        <%= render_post_title post %>
      </div>
      <div class="content">
        <p><%= briefly post, 80 %> </p>
        <div>
          <%= link_to "Read more", post, class: "btn" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @posts %>