<h1><%= @post.title %></h1>
<p><%= raw @post.content.gsub(/\n/, '<br/>') %></p>

<div class="source">
  <p><%= @post.source %></p>
</div>

<div class="note">
  <p>
    <%= raw @post.note.gsub(/\n/, '<br/>') %>
  </p>
</div>

<%= link_to "返回文章列表", posts_path  %>