<div class="well post">
  <div class="post-header">
    <h1 class="post-title well">
    <%= render_post_title @post %>
    </h1>
    <% if @post.image_url.present? %>
    <div class="image-container">
      <%= image_tag @post.image_url(:display),class:"well post-image" %>
    </div>
    <% end %>
    <div class="post-detail">
      <span class="source-time well">
      來源時間: <%= @post.source_date.strftime("%Y-%m-%d") %>
      </span>
      <span class="translator-name well">
      譯者: <%= @post.user.name %>
      </span>
    </div>
    
  </div>
  <div class="post-content-container well">
    <%= raw @post.content.gsub(/\n/, '<br/>') %>
  </div>
  <div class="source">
    <%= link_to t('activerecord.attributes.post.source'), @post.source %>
  </div>
  <div class="note">
    <p>
    <%= t('activerecord.attributes.post.note') %>:<%= raw @post.note.gsub(/\n/, '<br/>') %>
    </p>
  </div>
  <%= link_to "返回文章列表", posts_path  %>
</div>