<div class="post">
  <div class="header">
    <h3 class="title">
    <%= render_post_title @post %>
    </h3>
    <% if @post.image_url.present? %>
    <div class="image-container row">
      <%= image_tag @post.image_url(:display),class:"col-md-6 image" %>
    </div>
    <% end %>
    
  </div>
  <div class="content-container well">
    <div class="detail row">
      <span class="source-time col-md-6">
        來源時間: <%= @post.source_date.strftime("%Y-%m-%d") %>
      </span>
      <span class="translator-name col-md-6">
        譯者: <%= @post.user.name %>
      </span>
    </div>
    <p>
      <%= raw @post.content.gsub(/\n/, '<br/>') %>
    </p>
  </div>
  <div class="source">
    <%= link_to t('activerecord.attributes.post.source')+":#{@post.source}", @post.source %>
  </div>
  <hr>
  <div class="note">
    <p>
    <%= t('activerecord.attributes.post.note') %>:<%= raw @post.note.gsub(/\n/, '<br/>') %>
    </p>
  </div>
  <%= link_to "返回文章列表", posts_path  %>
</div>


<div id="disqus_thread"></div>
<noscript>
  Please enable JavaScript to view the 
  <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

<%= javascript_include_tag "disqus/thread.js", :cache => true %>