<table class='table table-striped table-hover'>
    <thead class="row">
      <th class="col-xs-1"></th>
      <th></th>
      <th class="col-xs-1">譯者</th>
      <th class="col-xs-1">身份</th>
      <th class="col-xs-1">文章數</th>
      <th class="col-xs-1">乖寶寶點數</th>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>
    </thead>
    <tbody>
      <% users.each_with_index do |user, index| %> 
      <tr>
        <td class="col-xs-1">
          <% unless user.id == current_user.id %>
            <%= check_box_tag "user_ids[]", user.id, class: "form-control checkbox" %>
          <% end %>
        </td>
        <td class='col-xs-1'><%= index+1 %></td>
        <td class="col-xs-1"><%= link_to user.name, user %></td>
        <td class="col-xs-1"><%= identity(user) %></td>
        <td class=""><%= user.posts_count %></td>
        <td>
          <%= user.gg_point %>
        </td>
        <td>
          <%= link_to t('common.destroy'), user_path(user), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>