
<div id="users_filter">
  <span data-filter="admin">admin</span> / <span class="active" data-filter="editor">編輯</span>
</div>

<div id="admin">
<%= form_tag(toggle_admin_admin_users_path, method: :put) do %>
  <%= render partial: "users_table", locals: {users: @admin_users} %>
  <%= submit_tag "讓使用者得到最高權限", class: 'btn btn-success' %>
<% end -%>
</div>
<div id="editor">
<%= form_tag(toggle_editor_admin_users_path, method: :put) do %>
  <%= render partial: "users_table", locals: {users: @admin_users} %>
  <%= submit_tag "讓使用者成為編輯", class: 'btn btn-success' %>
<% end -%>
</div>

<%= javascript_include_tag 'page/admin_user_index', :cache => true %>