<nav class="customnavbar shadow" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">

    <button class="navbar-toggle collapsed"  data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-material-menu"></span>
    </button>
    <div class="brand-container">
      <%= link_to "United Issues", root_path, class:"navbar-brand brand" %>
    </div>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav rws-nav">
      <li class="dropdown">
        <%= link_to '#', class: "dropdown-toggle" , :"data-toggle" => "dropdown" do %>
          <%= t('activerecord.attributes.post.country_classification') %><span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu country_classification" role="menu">
          <% @country_classifications.each do|option| %>
          <li><%= link_to option[0], posts_path(classification: option[1])%></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to t('attributes.posts'), posts_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "My Posts", my_posts_path %></li>  
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right user-nav">
      <% unless user_signed_in? %>
      <li class="fb-login">
        <%= link_to "FACEBOOK LOGIN", ENV["domain"] + user_omniauth_authorize_path(:facebook) %>
      </li>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li>
            <%= link_to admin_posts_path do%>
            <span class="icon-material-adb change-mode"></span> Admin
            <% end %>
          </li>
        <% end %>
      <li class="bug-report">
        <%= link_to "Bug Report", "https://trello.com/b/gHCo6iv5/united-issues", :target => "_blank" %>
      </li>
      <li>
        <%= link_to current_user.name, '#' %>
      </li>

      <li>
        <%= link_to "登出", destroy_user_session_path, method: :delete %>
      </li>
      <% end %>
    </ul>
    </div><!-- /.navbar-collapse -->
  </nav>


