<nav class="navbar navbar-default customnavbar  shadow" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="toggle-button navbar-toggle collapsed"  data-toggle="collapse" data-target=".navbar-responsive-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <div class="brand-container">
      <%= link_to "United Issue", root_path, id: "brand",class:"navbar-brand brand" %>
    </div>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <!-- rws-nav -->
      <li class="dropdown">
        <%= link_to '#', class: "dropdown-toggle" , :"data-toggle" => "dropdown" do %>
        <%= t('activerecord.attributes.post.classification') %><span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu classification" role="menu">
          <% @classifications.each do|option| %>
          <li>
          <%= link_to option[0], posts_path(classification: option[1])%></li>
          <% end %>
        </ul>
      </li>
      <li class="dropdown">
        <%= link_to '#', class: "dropdown-toggle" , :"data-toggle" => "dropdown" do %>
        <%= t('activerecord.attributes.post.country_classification') %><span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu country_classification" role="menu">
          <% @country_classifications.each do|option| %>
          <li>
            <%= link_to option[0], posts_path(search_options({country_classification: option[1]}, params)) %>
          </li>
          <% end %>
        </ul>
      </li>
      
      
    </ul>
    <ul class="nav navbar-nav navbar-right user-nav">
      <% if user_signed_in? %>
      <li><%= link_to "我翻譯的文章", my_posts_path %></li>
      <% end %>
      <li class="dropdown">
        <%= link_to '#', class: "dropdown-toggle" , :"data-toggle" => "dropdown" do %>
        翻譯工具箱<span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu translation-tool-box" role="menu">
          <li>
            <%= link_to t('activerecord.models.library')+"(beta)", libraries_path %>
          </li>
          <li>
            <%= link_to "Finder", finders_path %>
          </li>
        </ul>
      </li>
      
      <li class="dropdown">
        <%= link_to '#', class: "dropdown-toggle" , :"data-toggle" => "dropdown" do %>
        訂閱<span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to "RSS訂閱", "http://feeds.feedburner.com/united-issue/ioPz" %>
          </li>
          <li>
            <%= render partial: 'common/feed_burner' %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to "使用說明", help_path %>
      </li>
      <% if user_signed_in? %>
      <li class="dropdown">
        <%= link_to '#', class: "dropdown-toggle", id: 'user-info' , :"data-toggle" => "dropdown" do %>
        <span class="user-name"><%= current_user.name %></span>
        <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu" role="menu">
          <% if current_user && current_user.admin? %>
          <li>
            <%= link_to "Admin", schedule_admin_posts_path %>
          </li>
          <% end %>
          <li>
            <%= link_to "編輯個人資訊", edit_user_path(current_user) %>
          </li>
          <li>
            <%= link_to "登出", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
      <% end %>
    </ul>
    </div><!-- /.navbar-collapse -->
  </nav>