<!DOCTYPE html>
<html>
  <head>
    <title>UnitedIssues</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="admin-navbar shadow" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" id="admin-brand">
        <button class="navbar-toggle collapsed"  data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-material-menu"></span>
        </button>
        <%= link_to "You should not PASS", '#', class:"navbar-brand" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to t('attributes.posts'), admin_posts_path %></li>
          <li><%= link_to t('attributes.users'), admin_users_path %></li>
          <li><%= link_to t('link.schedule'), schedule_admin_posts_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            
            <%= link_to root_path do %>
            <span class="icon-material-android change-mode"></span>Normal
            <% end %>
          </li>
          <li>
            <% if user_signed_in? %>
            <%= link_to "登出", destroy_user_session_path, method: :delete %>
            <% end %>
          </li>
        </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <%= render partial: "common/flash" %>
      <div class="container main">
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </body>
    
  </html>